<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
>

<h:body>

    <h1>JSF 2.0 + Spring Example</h1>

    <!--#{testEntityManaged.testString()}-->

    <h:outputText value="#{testEntityManaged.getMe}"/>
    <h:outputText value="#{testEntityManaged.getMe()}"/>
    <h:outputText value="#{1+1}"/>

</h:body>

</html>
